*{
    margin: 0;
    padding: 0;
}

body{
    display:flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.wrapper{
    height: auto;
    background-color: aquamarine;
    border-radius: 1rem;
    padding:1rem;
}

button{
    background-color: black;
    color:white;
    height: 40px;
    padding:1rem;
    margin:1rem;
    border-radius:1rem;
    text-align:center;
    display:flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
}

button a{
    text-decoration: none;
    color:white;
}

button a:hover{
    text-decoration: underline;
}